<!DOCTYPE html>
<html>
<body>
    <h2>Criar usuário</h2>

    <input id="username" placeholder="Nome">
    <input id="password" placeholder="Senha">
    <input id="bio" placeholder="Bio">

    <button onclick="criar()">Criar</button>

    <script>
        async function criar() {
            await fetch("/users", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    username: document.getElementById("username").value,
                    password: document.getElementById("password").value,
                    bio: document.getElementById("bio").value
                })
            });

            alert("Usuário criado!");
        }
    </script>
</body>
</html>
