<!-- casos_lista.html -->

<ul id="lista-casos">
{% for caso in casos %}
    {% include "partials/caso_item.html" %}
{% endfor %}
</ul>

<span>Página {{ page }}</span>

<div style="margin-top:20px; display:flex; gap:10px;">
    {% if page > 1 %}
    <button
        hx-get="/casos?page={{ page - 1 }}"
        hx-target="#conteudo"
        hx-include="#filtros"
        hx-push-url="true">
        Anterior
    </button>
    {% endif %}

    {% if tem_proxima %}
    <button
        hx-get="/casos?page={{ page + 1 }}"
        hx-target="#conteudo"
        hx-include="#filtros"
        hx-push-url="true">
        Próximo
    </button>
    {% endif %}
</div>
